body
{
	width: 768px;
	margin: auto;

	h1, h2
	{
		text-align: center;
	}

	#language-anchor
	{
		position: fixed;
		bottom: 64px;
		right: 64px;
	}
}

#me
{
	margin: auto;

	img
	{
		display: block;
		margin: auto;
		height: 256px;
	}

	p
	{
		text-align: center;
	}
}
